:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: rgb(225, 174, 238);
  background: radial-gradient(
    circle,
    rgba(225, 174, 238, 0.6041010154061625) 1%,
    rgba(56, 65, 76, 1) 100%
  );
  padding: 40px;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
